<nz-layout>
  <nz-sider>
    <app-admin-navigation></app-admin-navigation>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1>Add New User</h1>
    </nz-header>
    <nz-content>
      <form nz-form [formGroup]="branchesForm" (ngSubmit)="_submitNewBranch()">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="name" nz-form-item-required>Name</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'"></nz-input>
            <!-- <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div> -->
          </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="contact" nz-form-item-required>Contacts</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input nzType="textarea" [nzAutosize]="contactSize" formControlName="contacts" [nzId]="'contact'"></nz-input>
              <!-- <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div> -->
            </div>
        </div>
        <form nz-form formGroupName="location" >
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="lon" nz-form-item-required>Location: Lon</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzSize]="'large'" formControlName="lon" [nzId]="'lon'"></nz-input>
              <!-- <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div> -->
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="lat" nz-form-item-required>Location: Lat</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzSize]="'large'" formControlName="lat" [nzId]="'lat'"></nz-input>
              <!-- <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div> -->
            </div>
          </div>
        </form>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="admin" nz-form-item-required>Select Admin</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
          <nz-select formControlName="user_id" [nzPlaceHolder]="'Select Admin'" nzAllowClear>
            <nz-option nzLabel="Admin" nzValue="admin"></nz-option>
            <nz-option nzLabel="Seller" nzValue="seller"></nz-option>
            <nz-option nzLabel="Client" nzValue="client"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="img" nz-form-item-required>Select Image</label>
        </div>
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
          <button nz-button>
            <i class="anticon anticon-upload"></i><span>Click to Upload</span>
          </button>
        </nz-upload>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
          <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="isLoading">Submit</button>
        </div>
      </div>
      </form>
    </nz-content>
  </nz-layout>
</nz-layout>
