<div>
<span class="inline">

    <nz-select class="select"
               style="width: 200px; height: 30px"
               nzAllowClear
               [nzPlaceHolder]="'Categories'"
               [(ngModel)]="selectedOption"
               nzShowSearch>
      <nz-option
        *ngFor="let option of categories"
        [nzLabel]="option.label"
        [nzValue]="option.value"
        [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>
  <span>   </span>
    <input type="search" value="" placeholder="Search" class="search-input" style="width: 480px; height: 30px ">




       </span>
</div>
