<div>
<span class="inline">

    <nz-select class="select"
               style="width: 200px;"
               nzAllowClear
               [nzPlaceHolder]="'Categories'"
               [(ngModel)]="selectedOption"
               nzShowSearch>
      <nz-option
        *ngFor="let option of categories"
        [nzLabel]="option.label"
        [nzValue]="option.value"
        [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>
  <span>   </span>
    <nz-input  [nzType]="'search'" [nzPlaceHolder]="'input search text'" [(ngModel)]="_value" style="width: 400px;" (nzOnSearch)="onSearch($event)"></nz-input>




       </span>
</div>
