<div >

  <ul class="item" nz-menu [nzMode]="'horizontal'">

    <li nz-menu-item><a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Home</a></li>
    <li nz-menu-item><a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Feeds</a></li>
    <li nz-menu-item><a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">About Trato</a></li>
    <li nz-menu-item><a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Customer Service</a></li>
  </ul>`
</div>
