.nav{
  background-color: #c43e00;



}
button{
  position: absolute;
  right: 10px;
  top: 18px;

}
.item{
  right: 20px;

  left: 20px;

  display: inline-block;
}
.inline{
  display: inline-block;
}
.line{
  background-color:#c43e00;
  height: 10px;
}
