<ul >

<span class="inline">
  <li >
    <nz-select class = "item"
      style="width: 200px;"
      nzAllowClear
      [nzPlaceHolder]="'Select a Language'"
      [(ngModel)]="selectedOption"
      nzShowSearch>
      <nz-option
        *ngFor="let option of searchOptions"
        [nzLabel]="option.label"
        [nzValue]="option.value"
        [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>

    <nz-select class = "item"
      style="width: 200px;"
      nzAllowClear
      [nzPlaceHolder]="'Select a Currency'"
      [(ngModel)]="selectedOption"
      nzShowSearch>
      <nz-option
        *ngFor="let option of searchOptions2"
        [nzLabel]="option.label"
        [nzValue]="option.value"
        [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>
    <app-select></app-select>

  </li>

       </span>

  <button nz-button [nzType]="'primary'" (click)="showIn()">
    <span>Sign in</span>
  </button>

</ul>


<nz-modal [nzVisible]="signin" [nzTitle]="'SIGN IN'" [nzContent]="modalContent" nzCancelText="close" nzOkText="Sign in" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
 <app-signin></app-signin>
  </ng-template>
</nz-modal>
