<ul >

<span class="inline">


    <app-select></app-select>
    <nz-dropdown class=" item">
      <a class="ant-dropdown-link" nz-dropdown>
        Language <i class="anticon anticon-down"></i>
      </a>
      <ul nz-menu>
        <li nz-menu-item>
          <a target="_blank" >Arabic</a>
        </li>
        <li nz-menu-item>
           <a target="_blank" >English</a>
        </li>

      </ul>
    </nz-dropdown>



       </span>

  <button nz-button [nzType]="'primary'" (click)="showIn()">
    <span>Sign in</span>
  </button>

</ul>


<nz-modal [nzVisible]="signin" [nzTitle]="'SIGN IN'" [nzContent]="modalContent" nzCancelText="close" nzOkText="Sign in" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
 <app-signin></app-signin>
  </ng-template>
</nz-modal>
