

<div class="spano">
  <select name="Language" class="select-input" style="top: 15px; color: white">
    <option>English</option>
    <option>Arabic</option>
    <option>French</option>
  </select>

  <select name="Currancy" class="select-input" style="top: 15px;left: 10px; color: white">
    <option>EGP</option>
    <option>USD</option>
    <option>EUR</option>
  </select>

  <div style="text-align: center; margin: 10px; position: absolute;
  right: 10px;
  top: 15px;">
    <ons-button (click)="showIn()">Sign in</ons-button>
  </div>


</div>




<nz-modal [nzVisible]="signin" [nzTitle]="'SIGN IN'" [nzContent]="modalContent" nzCancelText="close" nzOkText="Sign in" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
 <app-signin></app-signin>
  </ng-template>
</nz-modal>
