<nz-layout>
  <nz-header class="head">

    <app-nav></app-nav>
  </nz-header>
  <nz-content>
    <app-searchbar></app-searchbar>
    <app-carousel></app-carousel>
    <app-menu></app-menu>

    <nz-tabset [nzTabPosition]="nzTabPosition" >
      <nz-tab *ngFor="let cat of mainCats">
        <ng-template #nzTabHeading>
          {{cat.name}}
        </ng-template>
        <span>
      <nz-tabset>
        <nz-tab *ngFor="let sub of cat.sub_cat">
 <ng-template #nzTabHeading>
      {{sub.name}}
    </ng-template>
        </nz-tab>
      </nz-tabset>

    </span>
      </nz-tab>
    </nz-tabset>




  </nz-content>


</nz-layout>
